.contentBox {
  width: 100%;
  max-width: 750px;
  background-color: var(--main-white);
  padding: calc(var(--spacing-md) * 2);
  border-radius: var(--spacing-md);
  transition: width 0.6s ease-in-out;
}

.contentText {
  color: var(--sub-black);
  font-size: var(--font-size-xs);
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
}

@media only screen and (min-width: 900px) {
  .contentText {
    font-size: var(--font-size-sm);
  }
}

@media only screen and (min-width: 1000px) {
  .contentText {
    font-size: var(--font-size-xs);
  }
}

@media only screen and (min-width: 1390px) {
  .contentText {
    font-size: var(--font-size-sm);
  }
}

@media only screen and (min-width: 1590px) {
  .contentText {
    font-size: var(--font-size-base);
  }
}
