.contentBox {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  width: 100%;
  max-width: 750px;
  background-color: var(--main-white);
  padding: calc(var(--spacing-md) * 2);
  border-radius: var(--spacing-md);
  transition: width 0.6s ease-in-out;
}
