.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: var(--spacing-md);
  min-height: 2000px;
}

.container {
  width: 90%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing-sm) - 1px);
}

@media only screen and (min-width: 675px) {
  .header {
    gap: var(--spacing-lg);
  }
}

@media only screen and (min-width: 900px) {
  .header {
    gap: calc(var(--spacing-lg) + 3px);
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    gap: var(--spacing-lg);
  }
}

@media only screen and (min-width: 1270px) {
  .header {
    gap: calc(var(--spacing-md) + 2.5px);
  }
}

@media only screen and (min-width: 1390px) {
  .header {
    gap: var(--spacing-lg);
  }
}

@media only screen and (min-width: 1590px) {
  .header {
    gap: calc(var(--spacing-lg) + 1.5px);
  }
}

@media only screen and (min-width: 1910px) {
  .header {
    gap: calc(var(--spacing-lg) + 3px);
  }
}

.title {
  font-size: var(--font-size-xl);
  color: var(--main-white);
}

.closeButton {
  width: 50%;
  min-width: max-content;
  max-width: 270px;
  background-color: var(--main-green);
  color: var(--main-white);
  font-size: var(--font-size-lg);
  font-weight: 500;
  padding-block: var(--spacing-sm);
  padding-inline: calc(var(--spacing-md) * 2);
  border-radius: var(--spacing-2xl);
}

@media only screen and (min-width: 675px) {
  .closeButton {
    font-size: var(--font-size-base);
    width: 35vw;
  }
}

@media only screen and (min-width: 900px) {
  .closeButton {
    font-size: var(--font-size-lg);
  }
}

@media only screen and (min-width: 1000px) {
  .closeButton {
    font-size: var(--font-size-base);
  }
}

@media only screen and (min-width: 1270px) {
  .closeButton {
    font-size: var(--font-size-sm);
  }
}

@media only screen and (min-width: 1390px) {
  .closeButton {
    font-size: var(--font-size-base);
  }
}

@media only screen and (min-width: 1590px) {
  .closeButton {
    font-size: var(--font-size-md);
  }
}

@media only screen and (min-width: 1910px) {
  .closeButton {
    font-size: var(--font-size-lg);
  }
}
