.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: var(--spacing-md);
  min-height: 2000px;
}

.container {
  width: 90%;
}

.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: calc(var(--spacing-2xl) - var(--spacing-md));
}

@media only screen and (min-width: 675px) {
  .layout {
    gap: var(--spacing-2xl);
  }
}
