.footer {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-3xl);
  padding-bottom: calc(var(--spacing-3xl) + 4px);
}

@media only screen and (min-width: 675px) {
  .footer {
    padding-bottom: calc(var(--spacing-3xl) + 2px);
  }
}
