.languageContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding-right: calc(var(--spacing-md) * 2);
  position: relative;
  cursor: pointer;
}

@media only screen and (min-width: 1270px) {
  .languageContainer {
    padding-right: var(--spacing-sm);
  }
}

.language {
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 18px;
}

@media only screen and (min-width: 900px) {
  .language {
    font-size: var(--font-size-lg);
  }
}

@media only screen and (min-width: 1000px) {
  .language {
    font-size: var(--font-size-base);
  }
}

@media only screen and (min-width: 1270px) {
  .language {
    font-size: var(--font-size-sm);
  }
}

@media only screen and (min-width: 1390px) {
  .language {
    font-size: var(--font-size-base);
  }
}

@media only screen and (min-width: 1590px) {
  .language {
    font-size: var(--font-size-md);
  }
}

.languageIcon {
  position: absolute;
  top: -2px;
  right: 5px;
  width: 26px;
  height: 18px;
  object-fit: cover;
  object-position: center center;
  border-radius: 3px;
}

@media only screen and (min-width: 1270px) {
  .languageIcon {
    position: static;
    top: 0;
    right: 0;
    margin-top: -5px;
  }
}
