.navigationContainer,
.navigation,
.actionsContainer,
.languageContainer {
  display: flex;
  align-items: center;
}

.navigationContainer {
  justify-content: center;
}

.navigation {
  width: 75%;
  padding-top: 40px;
  color: var(--main-white);
  justify-content: space-between;
}

.logo {
  display: none;
}

@media only screen and (min-width: 1270px) {
  .logo {
    display: block;
  }
}

.logoImage {
  height: 2rem;
  margin-top: -0.5rem;
}

.actionsContainer {
  gap: var(--spacing-2xl);
}

.navigationList {
  display: none;
}

@media only screen and (min-width: 1270px) {
  .navigationList {
    display: flex;
    align-items: center;
  }
}

.navigationLink,
.language {
  font-size: var(--font-size-sm);
  font-weight: 500;
}

.language {
  line-height: 18px;
}

@media only screen and (min-width: 900px) {
  .language {
    font-size: var(--font-size-lg);
  }
}

@media only screen and (min-width: 1000px) {
  .language {
    font-size: var(--font-size-base);
  }
}

@media only screen and (min-width: 1270px) {
  .language {
    font-size: var(--font-size-sm);
  }
}

@media only screen and (min-width: 1390px) {
  .navigationLink,
  .language {
    font-size: var(--font-size-base);
  }
}

@media only screen and (min-width: 1590px) {
  .navigationLink,
  .language {
    font-size: var(--font-size-md);
  }
}

.navigationLink {
  padding-inline: var(--spacing-lg);
}

.navigationLinkLast {
  padding-right: 0;
}

.languageContainer {
  position: relative;
  gap: var(--spacing-sm);
  padding-right: calc(var(--spacing-md) * 2);
}

@media only screen and (min-width: 1270px) {
  .languageContainer {
    padding-right: var(--spacing-sm);
  }
}

.languageIcon {
  position: absolute;
  top: -2px;
  right: 5px;
  width: 26px;
  height: 18px;
  object-fit: cover;
  object-position: center center;
  border-radius: 3px;
}

@media only screen and (min-width: 1270px) {
  .languageIcon {
    position: static;
    top: 0;
    right: 0;
    margin-top: -5px;
  }
}
